body{
    background-color:rgba(54, 95, 158, 0.4);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px;
}

h1{
    display: inline-block;
    background-image: linear-gradient(180deg, rgba(3, 71, 173, 0.981), rgba(23, 68, 136, 0.493), rgba(3, 71, 173, 0.981));
    text-align: center;
    color: rgb(247, 239, 239);
    font-family: "Courier New", "Courier", monospace;
    font-size: 8vw;
    width: 100%;
    margin: 0px;
    padding: 1%;
}

.navigation_list{
    background-color: rgba(247,239,239,1.0);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: solid 1px rgb(0,0,0);
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation_item{
    margin-right: 3vw;
    font-family: Arial, sans-serif;
    font-size: 3vw;
}

.navigation_item:first-child{
    margin-right: auto;
    margin-left: 1vw;
}

.navigation_item:first-child a{
    padding-top: 1.25em;
}

a:hover{
    background-color:rgba(225, 250, 2, 0.526);
    transition: background_color 2s;
}

#introductory_paragraph_container{
    background-color: rgba(13,178,249,0.5);
    border-radius: 1vw;
    padding: 1%;
    margin: 0%;
}

#introductory_paragraph_container p{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
    padding: 0%;
    margin: 0% 5%;
}

#home_icon{
    margin-top: 1vw;
    height: 8vw;
    width: 8vw;
    pointer-events: none;
}

#about_me_container{
    width: 100%;
    padding: 0px;
    border: 1px solid rgb(0,0,0);
    background-color: rgba(221, 200, 157, 0.993);
}

#eric_daetz_picture{
    display: block;
    margin: auto;
    height: 48%;
    width: 33%;
    max-width: 1798px;
    max-height: 2641px;
    border: solid rgb(0,0,0) 1px;
}

#about_me_paragraph{
    display: inline-block;
    vertical-align: top;
    font-size: 150%;
    margin: 2%;
}

footer{
    margin-top: 0%;
    text-align: center;
    background-color: rgba(25, 250, 0, 0.318);
    font-size: 100%;
}

@media screen and (min-width:1000px){
    body{
        background-color:rgba(27, 76, 151, 0.4);
        overflow-x: hidden;
        overflow-y: scroll;
        margin: 0px;
    }
    
    h1{
        display: inline-block;
        background-image: linear-gradient(180deg, rgba(3, 71, 173, 0.981), rgba(23, 68, 136, 0.493), rgba(3, 71, 173, 0.981));
        text-align: center;
        color: rgb(247, 239, 239);
        font-family: "Courier New", "Courier", monospace;
        font-size: 8vw;
        width: 100%;
        margin: 0px;
        padding: 1%;
    }
    
    .navigation_list{
        background-color: rgba(247,239,239,1.0);
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: solid 1px rgb(0,0,0);
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .navigation_item{
        margin-right: 2vw;
        font-family: Arial, sans-serif;
        font-size: 5vw;
    }
    
    .navigation_item:first-child{
        margin-right: auto;
        margin-left: 1vw;
    }
    
    a:hover{
        background-color:rgba(225, 250, 2, 0.526);
        transition: background_color 2s;
    }
    
    #introductory_paragraph_container{
        background-color: rgba(13,178,249,0.5);
        border-radius: 1vw;
        padding: 1vw;
        font-family:'Times New Roman', Times, serif;
        font-size: 4vw;
        margin-top: 0px;
    }

    #introductory_paragraph{
        font-family:'Times New Roman', Times, serif;
        font-size: 4vw;
    }
    
    #home_icon{
        height: 8vw;
        width: 8vw;
        pointer-events: none;
    }
    
    #about_me_container{
        width: 100%;
        white-space: nowrap; 
        border: 1px solid rgb(0,0,0);
    }
    
    #eric_daetz_picture{
        display: inline-block;
        height: 48%;
        width: 33%;
        max-width: 1798px;
        max-height: 2641px;
        margin-right: 2%;
        border: solid rgb(0,0,0) 1px;
    }
    
    #about_me_paragraph{
        display: inline-block;
        vertical-align: top;
        width: 60%;
        font-size: 3vw;
    }
    
    footer{
        text-align: center;
        background-color: rgba(25, 250, 0, 0.318);
        font-size: 200%;
    }
}